:root {
    --poppins: "Poppins", sans-serif;
    --raleway: "Raleway", sans-serif;

    /* COLORES */
    --red: #D60D0D;
    --black: #222222;
    --white: #fff;
    --whitev2: #EDEDED;
}



body {
    font-family: var(--raleway);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--poppins);
}

